<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs');%>

</head>
<body>
    <%- include('../partials/nav.ejs');%>

    <main>
        <section class="error">
            <h1>404 , Page Not Found..🥺</h1>
            <a href="/" class="btn">Go to home Page</a>
        </section>
   </main>

   <%- include('../partials/footer.ejs');%>

</body>
</html>