<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs');%>
        <meta name="keywords" content="online image converter, convert images online, image converter ,about page images-converter.com">
    </head>
    <body>
        <%- include('../partials/nav.ejs');%>
<body>
    <section class="about-section">
        <h2 >About Us</h2>
        <div class="about">
            <div class="about-detail">
                <h2>Image Converter</h2>
                <p>Convert image into diffrent types of formats in just one Click with this Free online image converter tool.</p>
                <p>If you have any query regrading Site, Advertisement and any other issue, please feel free to contact at <strong>imageconverters@gmail.com</strong> Or you can Send a message from <a href="/contact">Conact form</a></p>
                
            </div>
            <div class="about-img">
                <img src="icons/about.svg" alt="about">
            </div>
        </div>
    </section>
    <%- include('../partials/footer.ejs');%>

</body>
</html>