<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs');%>
</head>
<body>
  <%- include('../partials/nav.ejs');%>
  <main class="main-webp">
  <section class="webp-upload">
        <h1>Convert PNG Image into ICO Format</h1>
        <p>ICO Converter</p>
        <ul>
          <li>Choose File that you want to Convert into <strong>ICO</strong> Format.You can Convert<strong> PNG</strong> samples image.</li>
          <li>You can Convert <strong>1</strong> file at one time.The Maximum File Size is <strong>10MB.</strong></li>
          <li>After Selecting the File Click on <strong>Convert image</strong> button & Your converted file will be downloaded within a few seconds.</li>
        </ul>
        <form id="pngtoIco">
          <div class="form">
          <div class="label">
            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
            <p>Upload Files here</p>
            <input type="file" name="file" id="ico" required accept="image/png">
            <label class="upload-file" for="ico">
              <i class="fa-solid fa-magnifying-glass"></i>
              <span>Choose File</span>
            </label>
            <div class="ico-size">
              <label for="format">Icon Size:</label>
              <select  name="size" id="size">
                  <option value="16" selected>16x16</option>
                  <option value="24">24x24</option>
                  <option value="29">29x29</option>
                  <option value="32">32x32</option>
                  <option value="44">44x44</option>
                  <option value="48">48x48</option>
                  <option value="50">50x50</option>
                  <option value="57">57x57</option>
                  <option value="58">58x58</option>
                  <option value="64">64x64</option>
                  <option value="72">72x72</option>
                  <option value="96">96x96</option>
                  <option value="100">100x100</option>
                  <option value="114">114x114</option>
                  <option value="128">128x128</option>
                  <option value="144">144x144</option>
                  <option value="256" selected>256x256</option>
                  <option value="512">512x512</option>
                  <option value="1024">1024x1024</option>
              </select>
          </div>
          </div>
        </div>
        <div class="progress">
          <div class="progress-bar" role="progressbar"></div>
        </div>
        <div class="preview-div">
          <span class="file-name"></span>
          <img class="preview-image">
          <i id="removeImg" class="fa-solid fa-square-xmark"></i>
          <span class="size"></span>
            <div class="overflow"></div>
        </div>
        <button id="button" type="submit" class="btn">Convert Image</button>
        </form>
        </section>

  <section class="other-web">
    <div>
      <div class="other-head">
        <i class="fa-solid fa-file-image"></i>
          <h4>CONVERTER</h4>
     </div>
     <div class="other-formats">
      <div class="format-h5">
        <h5>Convert to Other Formats</h5>
      </div>
      <div class="other-tools">
        <div>
          <a href="/convert-to-avif">GIF to AVIF</a>
        </div>
        <div>
          <a href="/convert-to-avif">PNG to AVIF</a>
        </div>
        <div>
          <a href="/convert-to-avif">WEBP to AVIF</a>
        </div>
        <div>
          <a href="/convert-to-avif">SVG to AVIF</a>
        </div>
      </div>
     </div>
    </div>
  </section>
  </main>
        <%- include('../partials/footer.ejs');%>
</body>
</html>