<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs');%>
</head>
<body>
    <%- include('../partials/nav.ejs');%>
    
    <section class="hero-section">
        <!-- content -->
        <div class="hero-div">
            <div class="hero-big">
            <div>
            <h1>Online Image Converter</h1>
            <p>A list with our free online image converter that convert to a variety of target formats. Just select your format you want to convert to, upload your image file and optionally select filters. Your image will be converted instantly and you can download the result after a few seconds.</p>
        </div>
        <div class="btn-div">
        <a class="btn" href="#tools">Explore All Tools</a>
      </div>
        </div>
        <img src="icons/hero.svg" alt="icons">
        </div>
    </section>



    <main>
        <section class="hero-bottom" id="tools">
            <h2>Image converter</h2>
            <p>Convert media files online from one format into another. Please select the target format below:</p>

            <div class="converter-links">
                <div class="box">
                    <a href="convert-to-webp">
                    <div class="links-arrow">
                    <h4>Convert to WEBP</h4>
                    <img src="/icons/arrow-down.svg" alt="arrow">
                    </div>
                    <p>Convert your images to the WEBP format with this free online image converter. 
                        You can convert from png,jpeg ..etc to Webp formats.</p>
                    </a>
                </div>
                <div class="box">
                    <a href="convert-to-png">
                    <div class="links-arrow">
                    <h4>Convert to PNG</h4>
                    <img src="/icons/arrow-down.svg" alt="arrow">
                    </div>
                    <p>Convert your images to the PNG format with this free online image converter. 
                        You can convert from jpg,jpeg,webp ..etc to PNG formats.</p>
                    </a>
                </div>  
                <div class="box">
                    <a href="/jpg-to-png">
                    <div class="links-arrow">
                    <h4>JPG to PNG</h4>
                    <img src="/icons/arrow-down.svg" alt="arrow">
                    </div>
                    <p>Convert your JPG image into the PNG format with this free online image converter. 
                        You can convert Unlimited file for free.</p>
                    </a>
                </div>
                <div class="box">
                    <a href="/progress">
                    <div class="links-arrow">
                    <h4>Convert to JPEG</h4>
                    <img src="/icons/arrow-down.svg" alt="arrow">
                    </div>
                    <p>Convert your images to the JPEG format with this free online image converter. 
                        You can convert from jpg,PNG ..etc to JPEG formats.</p>
                    </a>
                </div>
                <div class="box">
                    <a href="/progress">
                    <div class="links-arrow">
                    <h4>Convert to PDF</h4>
                    <img src="/icons/arrow-down.svg" alt="arrow">
                    </div>
                    <p>Convert your images to the PDF format with this free online image converter. 
                        You can convert from jpeg,PNG ..etc to PDF formats.</p>
                    </a>
                </div>
                <div class="box">
                    <a href="/progress">
                    <div class="links-arrow">
                    <h4>Convert to SVG</h4>
                    <img src="/icons/arrow-down.svg" alt="arrow">
                    </div>
                    <p>Convert your images to the SVG format with this free online image converter. 
                        You can convert from jpeg,PNG ..etc to SVG formats.</p>
                    </a>
                </div>
                <div class="box">
                    <a href="/progress">
                    <div class="links-arrow">
                    <h4>Convert to GIF</h4>
                    <img src="/icons/arrow-down.svg" alt="arrow">
                    </div>
                    <p>Convert your images to the GIF format with this free online image converter. 
                        You can convert from jpeg,PNG ..etc to GIF formats.</p>
                    </a>
                </div>
                <div class="box">
                    <a href="/progress">
                    <div class="links-arrow">
                    <h4>Convert to ICO</h4>
                    <img src="/icons/arrow-down.svg" alt="arrow">
                    </div>
                    <p>Convert your images to the ICO format with this free online image converter. 
                        You can convert from jpeg,PNG ..etc to ICO formats.</p>
                    </a>
                </div>
                <div class="box">
                    <a href="/progress">
                    <div class="links-arrow">
                    <h4>Convert to BMP</h4>
                    <img src="/icons/arrow-down.svg" alt="arrow">
                    </div>
                    <p>Convert your images to the BMP format with this free online image converter. 
                        You can convert from jpeg,PNG ..etc to BPM formats.</p>
                    </a>
                </div>
            </div>
        </section>

   </main>

   <%- include('../partials/footer.ejs');%>

</body>
</html>