<footer>
    <div>
        <div class="copy">
            <a href="https://image-converter.com">
                <span class="copyright">&#169; Copyright image-converter.com</span>
            </a>
        </div>
        <div class="divider"></div>
        <div>
            <ul>
                <li><a href="/about">About</a></li>
                <li><a href="/privacy-policy">Privacy Policy</a></li>
                <li><a href="/contact">Conact Us</a></li>
            </ul>
        </div>
    </div>
</footer>