    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <meta name="description" content="Convert images to other formats with this free and fast online image converter.you can convert from PNG TO JPG , JPG TO PNG, JPEG TO PNG , WEBP TO PNG ..etc">
    <meta name="keywords" content="online image converter, convert images online, image converter,png to jpg,png to jpg, svg to png , webp to png , Convert to png , Convert to jpg ">
    <meta name="author" content="umer aziz">
    <meta property="og:title" content="image converter - convert images, images, png to jpg online for free">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.images-converter.com/">
    <meta property="og:site_name" content="images-converter.com">
    <meta property="og:description" content="Convert images into png ,svg ,jpg and more to other formats with this free and fast online converter.">
    <meta property="og:image" content="https://images-converter.com/favicon/image-192.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@imageconvert">
    <meta name="twitter:creator" content="@imageconvert">
    <meta property="twitter:title" content="image converter - convert images, images, png to jpg online for free">
    <meta property="twitter:description" content="Convert images into png ,svg ,jpg and more to other formats with this free and fast online converter.">
    <meta name="twitter:image:src" content="https://images-converter.com/favicon/image-192.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://www.images-converter.com/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://www.images-converter.com/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://www.images-converter.com/favicon/favicon-16x16.png">
    <link rel="manifest" href="https://www.images-converter.com/favicon/site.webmanifest">
    <link rel="mask-icon" href="https://www.images-converter.com/favicon/icon.svg" color="#CC7EDF">
    <meta name="msapplication-TileColor" content="#CC7EDF">
    <meta name="application-name" content="images-Converter">
    
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="js/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="toastr/toastr.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="toastr/toastr.min.js" ></script>
    <script defer src="js/convert-to-webp.js"></script>
    <script defer src="js/convert-to-png.js"></script>
    <script defer src="js/convert-to-jpg.js"></script>
    <script defer src="js/convert-to-jpeg.js"></script>
    <script defer src="js/convert-to-svg.js"></script>
    <script defer src="js/convert-to-tiff.js"></script>
    <script defer src="js/convert-to-gif.js"></script>
    <script defer src="js/convert-to-avif.js"></script>
    <script defer src="js/heic-to-png.js"></script>
    <script defer src="js/pngtoIco.js"></script>
    <script defer src="js/menu.js"></script>
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
