<div class="nav">
<nav>
    <div class="nav-div">
        <div>
            <a href="/" class="logo">
        <img src="/img/logo.png" alt="logo">
        <h4>Converter</h4>
    </a>
    </div>

    <!-- desktop menu  -->
    <div class="desktop-menu">
        <ul>
            <li class="all-tools">
                <i class="fa-solid fa-table-cells-large"></i>
                <a>All tools</a>
                <i class="fa-solid fa-chevron-down"></i>           
            </li>
            <div class="submenu hidden">
                <!-- all tools sub menu  -->
                  <div>
                    <ul>
                        <li><a href="/convert-to-png">Convert to PNG</a></li>
                        <li><a href="/convert-to-jpg">Convert to JPG</a></li>
                        <li><a href="/convert-to-jpeg">Convert to JPEG</a></li>
                        <li><a href="/convert-to-svg">Convert to SVG</a></li>
                        <li><a href="/convert-to-webp">Convert to WEBP</a></li>
                        <li><a href="/convert-to-gif">Convert to GIF</a></li>
                        <li><a href="/convert-to-avif">Convert to AVIF</a></li>
                        <li><a href="/convert-to-tiff">Convert to TIFF</a></li>
                    </ul>
                  </div>
                </div>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>

    </div>

    <div class="menu-right-div">
        <li id="allTools">
            <i class="fa-solid fa-table-cells-large"></i>
            <a>All tools</a>
            <i class="fa-solid fa-chevron-down"></i>
        </li>
    <div class="menu">
        <i id="bars" class="fa-solid fa-bars"></i>
        <i id="cross" class="fa-solid fa-xmark hidden"></i>
    </div>
</div>
    </div>

    <div class="mobile-menu hidden">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
</nav>
</div>