<div class="nav">
<nav>
    <div class="nav-div">
        <div>
            <a href="/" class="logo">
        <img src="/img/logo.png" alt="logo">
        <h4>Converter</h4>
    </a>
    </div>
    <div class="menu">
        <img class="humburger" src="/icons/hamburger-menu.svg" alt="menu">
    </div>
    </div>
</nav>
</div>