@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  overflow-x: hidden;
  background: #F5F5F5;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.btn {
  padding: 14px 24px;
  border: none;
  text-decoration: none;
  border-radius: 4px;
}
@media screen and (min-width: 767px) {
  .btn {
    font-size: 18px;
    line-height: 26px;
    border-radius: 6px;
  }
}

p {
  margin-top: 16px;
  font-size: 18px;
  line-height: 26px;
}

li {
  font-size: 16px;
  line-height: 26px;
}
@media screen and (min-width: 768px) {
  li {
    font-size: 18px;
    line-height: 28px;
  }
}

strong {
  font-weight: 600;
}

.nav nav {
  background-color: #FFFFFF;
  padding: 0px 20px;
}
.nav nav h4 {
  color: #615f5f;
  font-weight: 500;
  font-size: 28px;
}
.nav nav .nav-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.nav nav .nav-div .logo {
  display: flex;
  align-items: center;
}
.nav nav .nav-div .logo img {
  margin-right: 8px;
  width: 48px;
  width: 48px;
}
@media screen and (min-width: 767px) {
  .nav nav {
    padding: 0px 24px;
  }
  .nav nav .nav-div {
    height: 80px;
  }
  .nav nav .nav-div .menu {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .nav nav {
    padding: 0px 32px;
  }
}
@media screen and (min-width: 1280px) {
  .nav nav {
    padding: 0px !important;
  }
  .nav nav .nav-div {
    max-width: 1200px;
    margin: auto;
    height: 100px;
  }
}

h1 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
}
@media screen and (min-width: 767px) {
  h1 {
    font-size: 36px !important;
    line-height: 46px;
  }
}

h2 {
  font-size: 26px;
  line-height: 34px;
  font-weight: 600;
  color: #615f5f;
}
@media screen and (min-width: 767px) {
  h2 {
    font-size: 32px;
    line-height: 46px;
  }
}

h4 {
  font-size: 22px;
  line-height: 30px;
  font-weight: 500;
}
@media screen and (min-width: 767px) {
  h4 {
    font-size: 26px;
    line-height: 36px;
  }
}

.hero-section {
  background-color: #CC7EDF;
}
.hero-section .hero-div {
  padding: 48px 16px;
  color: #F5F5F5;
  display: flex;
  justify-content: space-between;
}
.hero-section .hero-div h1 {
  font-size: 28px;
}
.hero-section .hero-div img {
  display: none;
}
.hero-section .hero-div .btn-div {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.hero-section .hero-div .btn-div a {
  color: #F5F5F5;
  border: 1px solid #F5F5F5;
  font-weight: 500;
}
.hero-section .hero-div .btn-div a:hover {
  background-color: #F5F5F5;
  color: #617283;
}
@media screen and (min-width: 640px) {
  .hero-section .hero-div {
    padding: 80px 24px;
  }
  .hero-section .hero-div .btn-div {
    justify-content: start;
  }
}
@media screen and (min-width: 1024px) {
  .hero-section .hero-div {
    padding: 92px 32px;
  }
  .hero-section .hero-div img {
    width: 440px;
    display: flex;
  }
  .hero-section .hero-div p {
    max-width: 480px;
    line-height: 28px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-section .hero-div {
    padding: 90px 0px 120px 0;
    max-width: 1200px;
    margin: 0 auto;
  }
  .hero-section .hero-div img {
    width: 520px;
  }
  .hero-section .hero-div p {
    max-width: 580px;
    margin-top: 20px;
  }
}

.hero-bottom {
  padding: 64px 16px;
  color: #617283;
}
.hero-bottom h2 {
  text-align: center;
}
.hero-bottom p {
  text-align: center;
}
@media screen and (min-width: 640px) {
  .hero-bottom {
    padding: 80px 24px;
  }
}
@media screen and (min-width: 1024px) {
  .hero-bottom {
    padding: 80px 32px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-bottom {
    padding: 120px 0px;
    max-width: 1200px;
    margin: 0 auto;
  }
}

.converter-links {
  margin-top: 40px;
  display: grid;
  row-gap: 24px;
}
.converter-links a {
  text-decoration: none;
  color: #617283;
}
.converter-links .box {
  background-color: #FFFFFF;
  padding: 20px 16px 24px 20px;
  border-radius: 12px;
  border-left: 5px solid #CC7EDF;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
}
.converter-links .box .links-arrow {
  display: flex;
  justify-content: space-between;
}
.converter-links .box img {
  transform: rotate(-90deg);
  width: 28px;
  height: 28px;
}
.converter-links .box p {
  text-align: left;
  margin-top: 8px;
}
@media screen and (min-width: 767px) {
  .converter-links {
    margin-top: 48px;
    display: grid;
    gap: 28px;
    grid-template-columns: repeat(2, 1fr);
  }
  .converter-links .box p {
    text-align: left;
    margin-top: 8px;
  }
  .converter-links .box:hover {
    background-color: #f3f6f9;
  }
}
@media screen and (min-width: 1280px) {
  .converter-links {
    margin-top: 60px;
    gap: 32px;
    grid-template-columns: repeat(3, 1fr);
  }
  .converter-links .box p {
    font-size: 16px;
  }
}

.divider {
  margin: 16px 0;
  width: 100%;
  height: 1px;
  background: #615f5f;
  opacity: 0.8;
}
@media screen and (min-width: 768px) {
  .divider {
    display: none;
  }
}

footer {
  background: #FFFFFF;
}
footer > div {
  padding: 24px 0 32px 0;
}
footer > div .copy {
  display: flex;
  justify-content: center;
}
footer > div .copy .copyright {
  font-size: 16px;
  line-height: 26px;
  color: #617283;
  font-weight: 400;
  text-align: center;
}
footer > div div ul {
  margin-top: 12px;
  display: flex;
  justify-content: space-around;
}
footer > div div ul li {
  list-style: none;
}
footer > div div ul li a {
  text-decoration: none;
  color: #617283;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}
footer > div div ul li a:hover {
  text-decoration: underline;
  transition: all 0.2s ease-in;
}
@media screen and (min-width: 767px) {
  footer > div {
    padding: 24px 0 32px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  footer > div .copy {
    display: flex;
    justify-content: start;
  }
  footer > div .copy .copyright {
    text-align: left;
    margin-left: 24px;
  }
  footer > div .copy .copyright:hover {
    opacity: 0.8;
  }
  footer > div div {
    display: flex;
    justify-content: flex-end;
  }
  footer > div div ul {
    margin-right: 24px;
    width: 300px;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1024px) {
  footer > div {
    padding: 24px 0 32px 0;
  }
  footer > div .copy .copyright {
    margin-left: 32px;
  }
  footer > div div ul {
    margin-right: 32px;
  }
  footer > div div ul li a {
    font-size: 16px;
  }
}
@media screen and (min-width: 1280px) {
  footer > div {
    max-width: 1200px;
    margin: 0 auto;
  }
  footer > div .copy .copyright {
    margin-left: 0px;
  }
  footer > div div ul {
    margin-right: 0px;
  }
}

.main-webp {
  padding: 40px 16px 60px 16px;
  color: #615f5f;
  min-height: 85vh;
}
.main-webp .webp-upload h1 {
  font-size: 22px !important;
  line-height: 30px !important;
  color: #615f5f;
}
.main-webp .webp-upload p {
  font-weight: 400;
  margin-top: 12px;
}
.main-webp .webp-upload ul {
  margin-top: 20px;
  display: grid;
  row-gap: 8px;
  margin-left: 24px;
}
.main-webp .webp-upload .form {
  margin-top: 32px;
  padding: 20px;
  background-color: #CC7EDF;
  color: #F5F5F5;
  border-radius: 8px;
}
.main-webp .webp-upload .form .label {
  padding: 60px 10px;
  border: 2px dashed #F5F5F5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-webp .webp-upload .form .label i {
  font-size: 48px;
}
.main-webp .webp-upload .form .label input {
  display: none;
}
.main-webp .webp-upload .form .label p {
  font-size: 18px !important;
  font-weight: 500 !important;
  margin-top: 8px !important;
}
.main-webp .webp-upload .form .label .upload-file {
  margin-top: 20px;
  background-color: #F5F5F5;
  color: #617283;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px !important;
  border-radius: 4px;
  cursor: pointer;
}
.main-webp .webp-upload .form .label .upload-file:hover {
  background-color: #e5e8ec !important;
}
.main-webp .webp-upload .form .label .upload-file i {
  font-size: 18px;
}
.main-webp .webp-upload .form .label .upload-file span {
  font-size: 18px;
  font-weight: 500;
  margin-left: 8px;
}
.main-webp .webp-upload .preview-div {
  display: none;
  justify-content: center;
  position: relative;
  width: 80vw;
  max-width: 360px;
  margin: 40px auto 0px auto;
}
.main-webp .webp-upload .preview-div .file-name {
  position: absolute;
  top: 4px;
  left: 8px;
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
  max-width: 300px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  cursor: text;
  overflow: hidden;
  z-index: 99;
}
.main-webp .webp-upload .preview-div img {
  width: 80vw;
  max-width: 360px;
  max-height: 400px;
  background-size: cover;
}
.main-webp .webp-upload .preview-div i {
  margin-left: -24px;
  margin-top: 8px;
  font-size: 20px;
  color: rgb(230, 22, 22);
  z-index: 99;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.main-webp .webp-upload .preview-div i:hover {
  opacity: 0.8;
}
.main-webp .webp-upload .preview-div #size {
  position: absolute;
  top: 40%;
  text-align: center;
  width: 100%;
  color: #FFFFFF;
  z-index: 9;
  font-size: 32px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}
.main-webp .webp-upload .preview-div .overflow {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #617283;
  opacity: 0.5;
}
@media screen and (min-width: 768px) {
  .main-webp .webp-upload .preview-div {
    justify-content: start;
    margin: 40px 0 0 0;
  }
}
.main-webp .webp-upload button {
  margin-top: 32px;
  border: 1px solid #CC7EDF;
  color: #CC7EDF;
  cursor: pointer;
}
.main-webp .webp-upload button:hover {
  background-color: #CC7EDF;
  color: #F5F5F5;
  transition: all 0.2s ease-in-out;
}
.main-webp .webp-upload button:disabled {
  cursor: not-allowed;
  opacity: 0.3;
  background-color: transparent !important;
  color: #CC7EDF;
}
@media screen and (min-width: 640px) {
  .main-webp {
    padding: 60px 24px;
  }
  .main-webp .webp-upload h1 {
    font-size: 28px !important;
    line-height: 36px !important;
  }
  .main-webp .webp-upload p {
    font-size: 22px;
    line-height: 30px;
    font-weight: 500;
  }
  .main-webp .webp-upload .form {
    margin-top: 40px;
    padding: 24px;
  }
  .main-webp .webp-upload .form .label {
    padding: 60px 10px;
  }
  .main-webp .webp-upload .form .label i {
    font-size: 54px;
  }
  .main-webp .webp-upload .form .label p {
    margin-top: 16px !important;
  }
  .main-webp .webp-upload .form .label .upload-file {
    margin-top: 32px;
    padding: 12px 28px !important;
  }
  .main-webp .webp-upload button {
    margin-top: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .main-webp {
    padding: 72px 32px;
  }
  .main-webp .webp-upload p {
    margin-top: 16px;
  }
  .main-webp .webp-upload .form {
    margin-top: 48px;
    padding: 32px;
  }
  .main-webp .webp-upload .form .label {
    padding: 40px 16px;
  }
  .main-webp .webp-upload .form .label i {
    font-size: 64px;
  }
  .main-webp .webp-upload .form .label p {
    margin-top: 20px !important;
  }
  .main-webp .webp-upload .form .label .upload-file {
    margin-top: 32px;
    padding: 12px 28px !important;
  }
  .main-webp .webp-upload button {
    margin-top: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .main-webp {
    padding: 72px 0 80px 0px;
    max-width: 1200px;
    margin: auto;
  }
  .main-webp .webp-upload h1 {
    font-size: 30px !important;
    line-height: 40px !important;
  }
  .main-webp .webp-upload .form {
    margin-top: 48px;
  }
  .main-webp .webp-upload .form .label i {
    font-size: 72px;
  }
  .main-webp .webp-upload .form .label .upload-file {
    padding: 12px 40px !important;
  }
}

.other-web {
  margin-top: 40px;
}
.other-web div .other-head {
  display: flex;
  justify-content: center;
  align-items: center;
}
.other-web div .other-head i {
  font-size: 28px;
  margin-right: 12px;
  color: #CC7EDF;
}
.other-web div .other-formats {
  margin: 40px auto;
  max-width: 420px;
  border-radius: 3px 3px 0 0;
}
.other-web div .other-formats .format-h5 {
  background-color: hsla(0deg, 0%, 9%, 0.03);
  border-bottom: 1px solid hsla(0deg, 0%, 9%, 0.125);
  margin-bottom: 0;
  padding: 0.75rem 1.25rem;
}
.other-web div .other-formats .format-h5 h5 {
  text-align: center;
  font-size: 22px;
  line-height: 30px;
  font-weight: 500;
}
.other-web div .other-formats .other-tools {
  background-color: #FFFFFF;
  padding: 28px 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.other-web div .other-formats .other-tools div {
  text-align: center;
}
.other-web div .other-formats .other-tools div a {
  color: #615f5f;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}
.other-web div .other-formats .other-tools div a:hover {
  color: #CC7EDF;
}
